input{
    background: yellow;
    color: #000000;
    width: 50px;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding: 5px 5px;
    
}

button{
    background: black;
    color: yellow;
    padding: 5px 5px;  
    border-radius: 4px;
}
button:hover{
    background: rgb(58, 58, 58);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus{
    width: 150px;
   
}

